page-reserva {
    .logo2{margin: 15px auto 0;max-width: 100px;display: block;}
    .titulo1{font-size: 12px;}
    li{list-style: none; display: inline;font-size: 12px;}
    .menu_carrusel ul{margin: 40px 0;padding: 0;text-align: center;}
    .selected{font-size: 14px;padding: 0 0;}
    .content_recamara{max-width: 85%;margin: 20px auto;}
    .content_recamara img[alt="img_recamara_listado"]{border-radius: 25px;}
    .content_recamara span{color: #575756;}
    .content_iconos{margin-top: 10px;margin-bottom: 20px;}
    .content_iconos span{position: relative;bottom: 8px;margin-left: 5px;font-size: 9px;}
    .icono{display: inline-block;}
    img[alt="cama"]{max-width: 20px;}
    img[alt="metros"]{max-width: 16px;}
    .parrafo1{text-align: justify;}
    .fixed_menu{height: 170px;}
    .test_class{background-color: white;width: 100%;}
}