page-llaves {
    .logo2{margin: 15px auto 0;max-width: 100px;display: block;}
    .button{border-radius: 16px;text-transform: uppercase;height: 50px;font-size: 2rem;min-width: 223px;}
    .img_assa_abloy{max-width: 100px;margin: auto;display: block;position: absolute;bottom: 100px;left: 50%;transform: translate(-50%,0%);}
    .content_buttons .content_btn1:first-child{margin-top: 200px;}
    .content_buttons .content_btn1:last-child{margin-top: 30px;}
    @media only screen and (max-width: 360px) {
        .content_buttons .content_btn1:first-child{margin-top: 110px;}
    }
}
